body {
  background-image: url("../images/tr.jpg");
  background-size: cover;
  height: 100vh;
}

.slider-container {
    padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider {
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
  padding: 20px;
}
.content-container {
  width: 70%;
  height: 80vh;
  border: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
}
